<h1>Array de clientes consumindo um Json</h1>
<button (click)="listar()">listar</button>
<ul>
  <li *ngFor="let cliente of listaClientes ">
    {{cliente.id}}
  </li>
</ul>
<ul>
  <li *ngFor="let cliente of listaClientes ">
    <span (click)="selecionar(cliente)" >{{cliente.nome}} </span>
    <span (click)="remover(cliente.id)">x</span>
  </li>
</ul>
<div>
  <input type="text" [(ngModel)]="cliente.nome">
  <br><br>
  <input type="text" [(ngModel)]="cliente.cpf">
  <br><br>
  <button (click)="cancelar()">cancelar</button>
  <button (click)="inserir()">Salvar</button>
</div>

