<!-- Crie três propriedades: uma com o nome de uma música, outra com o nome do álbum onde a música
se encontra e outra com o nome do intérprete. Faça com que os dados da música apareçam na página,
cada um em uma div. Estilize as divs como preferir. -->
<div>{{nome}}</div>
<div>{{album}}</div>
<div>{{cantor}}</div>
<!-- --------------------------------------------------------------------------------------------------- -->

<!-- Crie um método capaz de efetuar a soma de dois valores, fornecidos por parâmetro. Chame o método
na página, via interpolação, atribuindo dois valores para os parâmetros, a sua escolha. -->
<hr>
<button (click)="somar(10,10)">some</button>
<div>{{soma}}</div>

<hr>
<!-- Crie duas classes CSS, uma com fundo vermelho e cor de fonte branca (chame a classe de “vermelho”)
e outra com fundo azul claro e cor de fonte verde (chame a classe de “azul”). Crie uma propriedade no
TypeScript chamada classeCss, com valor inicial de “vermelho” e um elemento de parágrafo no HTML
com texto aleatório. Atribua a propriedade classeCss no atributo class do p criado e defina um botão
capaz de alternar entre as classes quando clicado. -->
<div></div>

