<hr>
<h3>Exercício 04</h3>
<button (click)="trocarAba(1)">1</button>
<button (click)="trocarAba(2)">2</button>
<button (click)="trocarAba(3)">3</button>

<div [class]="classe1">con</div>
<div [class]="classe2">te</div>
<div [class]="classe3">udonn</div>
<!-- Crie três propriedades: uma com o nome de uma música, outra com o nome do álbum onde a música
se encontra e outra com o nome do intérprete. Faça com que os dados da música apareçam na página,
cada um em uma div. Estilize as divs como preferir. -->
